<!DOCTYPE html>
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/static/app/css/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="/static/app/css/about-stylesheet.css">
	<title>NewsBot - About</title>
</head>
<body>
<div class='header'>
	<div class='container'>
		<a href='/'><img src='/static/app/images/logo-dark.svg'></a>
	</div>
</div>
<div class='container'>
	<div class='about-title'>A SHORT BIOGRAPHY OF NEWSBOT</div><br>
	<img src='/static/app/images/robot-side-light.svg'>
	<div class='about-text'>NewsBot is a one-stop daily digest for your organization, charity, or corporation. With a few clicks and useful human commands, NewsBot enpower both members and non-members alike by providing a stream of tailored news articles that are cleverly scrapped and summarized by our algorithms.</div><br>
	<div class='about-title'>NEWSBOT: FRIENDLY BOT, POWERFUL ALGORITHM</div><br>
	<div class='about-text'>In terms of technology, NewsBot runs on cutting edge computer science. Engineered for greatness, NewsBot utilizes multiple interesting algorithms that make your experience more efficent, more actionable, and more intuitive.</div><br>
</div>

</body>
</html>