<!DOCTYPE html>
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/static/app/css/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="/static/app/css/index-stylesheet.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="/static/app/scripts/script-index.js"></script>
	<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
	<title>NewsBot</title>
</head>
<body>
<div id='main-box' class='centered'>
	<img src='/static/app/images/logo-dark.svg' class=''>
	<div class ='font-color-accent-dark font-helper-text'>Show me news about...</div>
	<select class="selector">
		<option value="" default selected></option>
		{% for charity in charityList %}
	  		<option value="{{charity}}">{{charity}}</option>
	  	{% endfor %}
	</select>
</div>

</body>
</html>