<!DOCTYPE html>
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/static/app/css/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="/static/app/css/index-stylesheet.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="/static/app/scripts/script.js"></script>
	<title>NewsBot</title>
</head>
<body>
<div id='main-box' class='centered'>
	<img src='/static/app/images/logo-white-200px.png'>
	<div class ='font-color-primary-light font-title-light'>Show me news about...</div>
	<input id='search-bar' type='text'></input>
</div>

</body>
</html>