<!DOCTYPE html>
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/static/app/css/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="/static/app/css/newsfeed-stylesheet.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="/static/app/scripts/script-newsfeed.js"></script>
	<title>NewsBot - News Feed</title>
</head>
<body>
<div class='header'>
	<div class='container'>
		<a href='/'><img src='/static/app/images/logo-dark.svg'></a>
	</div>
</div>
<div class='container'>
	<div class='robot'>
		<img class='robot-left' src='/static/app/images/robot-dark.svg' style='width:25%;padding-right:5px'>
		<div class='robot-right'>
			<textarea readonly id='robot-output' class='robot-speech-bubble font-text-light'>
Hello there, what can I do for you?
			</textarea>
		</div>
		<form onsubmit="readInput();return false;">
	  	<input id='robot-input' type="text" name="message" placeholder='hello'><br>
		</form>	
	</div>
	<div class='newsfeed'>
		<ul>
			{% for article_object in articles %}
			<li class='article'>
				<div class='article-header'>
					<a href='{{article_object.article.url}}' target="_blank" class='article-title'>{{article_object.article.title}}</a>
					<div class='article-timestamp'>{{article_object.article.publish_date}}</div>
				</div>
				<div class='article-summary'>
				{% for sentance in article_object.summary %}
					{{sentance}}
				{% endfor %}
				</div>
				<div class='article-keyword'> 
				{% for keyword in article_object.keywords %} 
					{{keyword}},
				{% endfor %}
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
</body>
</html>