<!DOCTYPE html>
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/static/app/css/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="/static/app/css/newsfeed-stylesheet.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="/static/app/scripts/script.js"></script>
	<title>NewsBot - News Feed</title>
</head>
<body>
<div class='container'>
	<div class='newsfeed'>
		<ul>
			<li class='article'>
				<a href='{{url}}' class='article-title'>the title{{title}}</a>
				<div class='article-timestamp'>timestamp {{timestamp}}</div>
				<div class='article-summary'>{{summary} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus nunc sollicitudin ullamcorper efficitur. Pellentesque sed quam dictum dui lobortis tincidunt at eu turpis. Ut nec arcu lorem. Nam eget tortor leo. Aenean eget tortor nec quam volutpat consequat a ut lorem. Integer sollicitudin vehicula elit id imperdiet. Nunc consectetur dolor fringilla erat facilisis, eget ultricies libero sagittis. Pellentesque ornare ante eu nulla fringilla, ac imperdiet tellus hendrerit. Quisque ut sagittis neque.</div>
			</li>
		</ul>
	</div>
</div>
</body>
</html>