body{
	background-color: #0B132B;
}

#main-box{
	width:400px;
	height:110px;
	padding:10px;
	background-color: #F3E8EE;
	box-shadow: 3px 3px 0px #E9DEE4, 6px 6px 0px #DFD4DA;
}

.selector{
	width:340px;
}

.select-wrapper{	
	display: inline-block;
	float:left;
}

#submit-charity{
	margin-left:5px;
	width:40px;
	display: inline-block;
	float:left;
}

#submit-charity input{
	background-color: #0B132B;
	padding: 9px 10px 7px 10px;
	font-size:10px;
	color: white;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}