/* globals */
html *{
  font-family: 'Roboto', sans-serif !important;/* <-- fonts */
}

html, body { margin: 0px; padding: 0px; border: 0px; }

input {
  border: none;
  background: transparent;
}
/* the standard ui */

.centered{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.hidden{
	display: none;
}


/* font styles */

.font-color-accent-light{
	color:#EB5E55;
}

.font-color-accent-dark{
	color:#0B132B;
}

.font-color-primary-dark{
	color:#5B5B5B;
}

.font-color-primary-light{
	color:#F3E8EE;
}

.font-title-light{
	font-size: 18px;
	font-weight: 300;
}

.font-helper-text{
	padding:4px;
	font-size: 12px;
	font-weight: 300;
}